@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans&display=swap');

#root {
  display: block;
  background-color: black;
}

.App {
  width: 100%;
}

.inner {
  width: 90%;
  margin-left: 6.5%;
}

header {
  width: 100%;
}

.main {
  width: 100%;
}

#masthead, #nyt, #guardian {
  font-family: 'Abril Fatface', cursive !important;
}

label, input {
  display: inline !important;
}

.main .container .row div {
  border: 1px solid black;
}

.header {
  background-image: url('./images/newspaper.jpg');
}

.main {
  background-image: url('./images/ocean.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
}

#search-terms {
  margin-left: 1em;
  padding-left: 1em;
}
